.wrapper {
  background-color: #FFFFFF;
}

.container-part-1 {
  margin-left: 190px;
  margin-top: 112px;
}

.container-title-1 {
  padding-top: 26px;
  margin-bottom: 30px;
}

.text-title-1 {
  font-family: 'DINBold';
  font-size: 56px;
}

.container-title-2 {
  margin-bottom: 22px;
}

.text-title-2 {
  font-family: 'DINBold';
  font-size: 46px;
  color: #0493FF;
}

.container-body {
  height: 106px;
  text-align: justify;
  width: 460px;
}

.text-body {
  color: #5E656B;
  font-family: 'DINRegularAlternate';
  font-size: 14px;
}

.container-button-black {
  background-color: #090909;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 52px;
  width: 148px;
}

.container-button-black-inner {
  margin-top: 8px;
}

.text-button-black {
  color: #FFFFFF;
  font-family: 'DINBold';
  font-size: 12px;
}

.container-title-3 {
  height: 28px;
  margin-bottom: 22px;
  margin-top: 58px;
}

.text-title-3 {
  font-family: 'DINBold';
  font-size: 28px;
}

.container-card-1-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 740px;
}

.container-card-3-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 890px;
}

.container-tail {
  width: 668px;
  margin-bottom: 96px;
  text-align: justify;
}

.text-tail {
  color: #7D7D7D;
  font-family: 'DINMediumAlternate';
  font-size: 14px;
}
