.wrapper {
  background-color: #171924;
}

.container-title {
  margin-bottom: 26px;
  margin-top: 50px;
}

.text-title {
  color: #FFFFFF;
  font-family: 'DINBold';
  font-size: 22px;
}

.card-group {
  margin-bottom: 60px;
}
