.container {
  align-items: center;
  background: #0B0C10;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 284px;
  margin-bottom: 122px;
  width: 338px;
}

.container-title {
  margin-bottom: 22px;
  margin-top: 22px;
}

.text-title {
  color: #FFFFFF;
  font-family: 'DINBold';
  font-size: 18px;
}

.container-line-group {
  margin-bottom: 22px;
}

.container-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2px;
  width: 294px;
}

.text-detail-data {
  color: #FFFFFF;
  font-family: 'DINMedium';
  font-size: 12px;
}

.text-detail-title {
  color: #FFFFFF;
  font-family: 'DINMedium';
  font-size: 12px;
}

.container-input {
  align-items: center;
  border: 1px solid #393941;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 294px;
}

.container-input-line-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-top: 4px;
  width: 270px;
}

.text-input-line-1 {
  color: #697494;
  font-family: 'DINMedium';
  font-size: 12px;
}

.container-input-line-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 14px;
  width: 270px;
}

.input {
  border-width: 0px;
  background-color: transparent;
  height: 18px;
  color: #FFFFFF;
  font-size: 18px;
  margin-left: -2px;
  outline: none;
  width: 200px;
}

.container-unit {
  margin-top: 1px;
}

.text-unit {
  color: #FFFFFF;
  font-family: 'DINMedium';
  font-size: 18px;
}

.container-button {
  background: #5493F7;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  width: 296px;
}

.container-button-inner {
  margin-top: 10px;
}

.text-button {
  color: #FFFFFF;
  font-family: 'DINBold';
  font-size: 12px;
}
