.container {
  border: 1px solid #ECEEF2;
  box-shadow: 0 2px 4px 0 #EFF0F3;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  height: 96px;
  margin-bottom: 24px;
  margin-left: 12px;
  margin-right: 12px;
  width: 220px;
}

.container-left {
  margin-top: 22px;
  margin-left: 18px;
}

.container-right {
  margin-top: 22px;
  margin-left: 16px;
}

.container-title {
  margin-bottom: 4px;
}

.text-title {
  font-family: 'DINBold';
  font-size: 16px;
}

.text-body {
  color: #7D7D7D;
  font-family: 'DINMediumAlternate';
  font-size: 10px;
}

