.container {
  background: #151619;
  border-radius: 12px;
  margin-bottom: 12px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  width: 522px;
}

.container-question {
  margin-bottom: 8px;
}

.text-question {
  color: #FFFFFF;
  font-family: 'DINBold';
  font-size: 18px;
  text-align: justify;
}

.container-answer {
  display: flex;
  flex-direction: column;
}

.container-answer-paragraph {
  margin-bottom: 10px;
  text-align: justify;
}

.text-answer {
  color: #FFFFFF;
  font-family: 'DINRegularAlternate';
  font-size: 14px;
}
