.container {
  align-items: center;
  background-color: #171924;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
}

.container-left {
  display: flex;
  flex-direction: row;
  margin-left: 42px;
}

.container-band {
  margin-left: 0px;
}

.text-band {
  color: #FFFFFF;
  font-family: 'TechnaSans-Regular';
  font-size: 18px;
}

.container-link-group {
  display: flex;
  flex-direction: row;
}

.container-link {
  margin-left: 8px;
  margin-right: 8px;
}

.text-link {
  color: #FFFFFF;
  font-family: 'TechnaSans-Regular';
  font-size: 12px;
}
