.container {
  box-shadow: 0 0 8px 4px #F3F2F2;
  border-radius: 14px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
  height: 196px;
  width: 196px;
}

.container-top {
  margin-top: 34px;
  margin-left: 24px;
  margin-bottom: 20px;
}

.container-bottom {
  margin-left: 24px;
  width: 148px
}

.container-title {
  margin-bottom: 6px;
}

.text-title {
  font-family: 'DINBold';
  font-size: 16px;
}

.text-body {
  color: #7D7D7D;
  font-family: 'DINMediumAlternate';
  font-size: 12px;
}
