@font-face {
  font-family: 'DINBlackAlternate';
  src: url('/static/font/DINBlackAlternate.ttf');
}

@font-face {
  font-family: 'DINBold';
  src: url('/static/font/DINBold.ttf');
}

@font-face {
  font-family: 'DINLight';
  src: url('/static/font/DINLight.ttf');
}

@font-face {
  font-family: 'DINLightAlternate';
  src: url('/static/font/DINLightAlternate.ttf');
}

@font-face {
  font-family: 'DINMedium';
  src: url('/static/font/DINMedium.ttf');
}

@font-face {
  font-family: 'DINMediumAlternate';
  src: url('/static/font/DINMediumAlternate.ttf');
}

@font-face {
  font-family: 'DINRegular';
  src: url('/static/font/DINRegular.ttf');
}

@font-face {
  font-family: 'DINRegularAlternate';
  src: url('/static/font/DINRegularAlternate.ttf');
}

@font-face {
  font-family: 'TechnaSans-Regular';
  src: url('/static/font/TechnaSans-Regular.otf');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* disable select */
  -khtml-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.background {
  background-color: #171924;
}

.cell-wall {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell-membrane {
  width: 1190px;
}

.nav-fixed {
  position: fixed;
  top: 0;
}

.flex-column-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
