.container-comming-soon {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 566px;
  width: 1190px;
}

.text-comming-soon {
  color: #FFFFFF;
  font-family: 'DINBold';
  font-size: 65px;
}
